<header> <!--перенести-->
    <div class="header_inner">
        <a href="/"><img class="logotype" src="assets/logotype.png" alt="logotype"/></a>
        <nav>
            <a class="nav_link" routerLink="/">Главное меню</a>
            <a class="nav_link" routerLink="/budget-control">Контроль бюджета</a>
            <a class="nav_link" routerLink="/shares">Доли</a>
            <a class="nav_link" routerLink="/net-profit">Чистый доход</a>
            <a class="nav_link" routerLink="/other-currency">Другая валюта</a>
            <a class="nav_link" routerLink="/settings">Настройки</a>
        </nav>
    </div>
</header>

<router-outlet></router-outlet>
