<div class="budget_control_item" id="profits_item">
  <div class="budget_control_item_enter">
    <div class="budget_control_item_text">Введите ваши доходы:</div>
    <input class="budget_control_item_enter_value">
    <input class="budget_control_item_enter_category">
    <button class="budget_control_button">Добавить</button>
  </div>
  <div class="budget_control_item_history">
    <div class="budget_control_item_text">История доходов в текущем месяце:</div>
    <div class="budget_control_item_in_total">Всего: + 5000 ₽</div>
  </div>
</div>
