<div class="form" [formGroup]="registrationForm">
    <div class="form_group">
        <label for="name">Имя<span style="color: red">*</span></label>
        <input id="name" type="text" [formControlName]="'userName'">
    </div>
    <div class="form_group">
        <label for="password">Пароль<span style="color: red">*</span></label>
        <input id="password" type="password" [formControlName]="'userPassword'">
    </div>
    <div class="form_group">
        <label for="email">Электронная почта<span style="color: red">*</span></label>
        <input id="email" type="email" [formControlName]="'userEmail'">
    </div>
    <div class="form_group">
        <label for="gender">Пол</label>
        <select id="gender" name="gender" [formControlName]="'userGender'">
            <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
        </select>
    </div>

    <div>
        <button type="submit" [disabled]="registrationForm.invalid" (click)="onSubmit()">Отправить</button>
    </div>
</div>

<div>
    <ul>
        <li *ngFor="let user of users">
            <div>{{user.name}}</div>
            <div>{{user.password}}</div>
            <div>{{user.email}}</div>
            <div>{{user.gender}}</div>
        </li>
    </ul>
</div>

